.row-headers {
    display: inline-flex;
}

.row {
    display: inline-flex;
}

.column {
    font-size: 14pt;
}

.column-separator {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.page-button {
    margin-left: 7px;
    margin-right: 7px;
}

.disabled {
    pointer-events: none;
    text-decoration: line-through underline;
}