.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-menu {
  position: relative;
  display: inline-flex;
}

.App-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-menu-item {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

a {
  color: #fff;
}

a:hover {
  font-style: italic;
  font-weight: bolder;
  cursor: pointer;
}

.selected {
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}

.App-page-container {
  position: relative;
}